<!-- css grid practice -->
<div id="book_holder">
    <div class="book">
        <img class='bookcover' src="../assets/img/books/everything_i_never_told_you.jpg" alt="book cover">
    </div>
    <div class="book">    	
        <img class='bookcover' src="../assets/img/books/the_headspace_guide.jpg" alt="book cover">
    </div>
    <div class="book">
        <img class='bookcover' src="../assets/img/books/what_i_talk_about_when_i_talk_about_running.jpg" alt="book cover">
    </div>
    <div class="book">
        <img class='bookcover' src="../assets/img/books/why_be_happy_when_you_could_be_normal.jpg" alt="book cover">
    </div>
    <div class="book">
        <img class='bookcover' src="../assets/img/books/why_we_sleep.jpg" alt="book cover">
    </div>
    <div class="book"><img class='bookcover' src="../assets/img/books/gone_with_the_wind.jpg" alt="book cover"></div>
</div>