<!-- css grid practice -->
<a class="tags" href="#python_content">Python</a>
<a class="tags" href="#sql_content">SQL</a>
<a class="tags" href="#vba_content">VBA</a>
<a class="tags" href="#ml_content">machine_learning</a>
<a class="tags" href="#powerbi_content">Power BI</a>

<div id="powerbi_content">
    <h1>Power BI</h1>
    <div class="sub_category">
        <div class="project">
            <iframe title="Sales Report 1" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=e21a6f04-d29c-4536-97fe-782a1ef7f830&autoAuth=true&ctid=1128895a-e5ab-4c15-9f22-395ad8975d78&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWNhbmFkYS1jZW50cmFsLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
            <p class="title"> Title1</p>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </p>
        </div>
    </div>
</div>

<div id="python_content">
    <h1>Python</h1>
    <div class="project">
            <a href="../_posts/2022-04-17-divorce_prediction.md"><h3>Divorce Prediction</h3></a>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
    </div>
    <div class="project">
        <h3>Divorce Prediction</h3>
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
    </div>
    <div class="project">
        <h3>Divorce Prediction</h3>
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
    </div>

</div>

<div id="sql_content">
    <h1>SQL</h1>
    <img src="../assets/img/pug1.jpg" class="img-top" alt="Front">
</div>

<div id="vba_content">
    <h1>VBA</h1>
    <img src="../assets/img/pug1.jpg" class="img-top" alt="Front">
</div>