.tags {
    padding: 10px;
}

a:hover {
    text-decoration: none;
}

h1 {  
}

.tags:hover {
    border-bottom: 3px;
    border-style: solid;
}

.sub_category {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    max-width: 960px;
}

.sub_category div{
    background: #ffffff;
}